* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

/* ----------------------------------------- */
#header,
#nav {
  padding: 20px;
}

/* ----------------------------------------- */
#header {
  background-color: #04233f;
}

#header h3 {
  font-weight: 600;
  font-size: 2em;
  color: #1190ff;
}

/* ----------------------------------------- */
#nav {
  background-color: #06345d;
}

#nav a {
  margin: 0 50px;
  text-decoration: none;
  color: #7cc2ff;
}

#nav a:hover {
  color: #fff;
}

/* ----------------------------------------- */
#section-about,
#section-contatos,
#section-services {
  background-color: #05192a;
  overflow: auto;
}

/* ----------------------------------------- */
#section-about .card {
  width: 50%;
  padding: 50px;
  margin: 60px auto;

  border-radius: 10px;
  background-color: #061f35;
}

#section-about .card img {
  margin-bottom: 10px;
}

#section-about .card p {
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
  font-size: 1.2em;
  color: #81c4ff;
}

#section-about .card p span {
  color: white;
  font-weight: bold;
}

/* ----------------------------------------- */
#section-info {
  background-color: #082946;
}

#section-info .button a {
  display: block;
  color: white;
  background-color: #008EB9;


  width: 100%;
  max-width: 400px;
  padding: 20px 60px;
  margin: 20px auto;

  font-size: 1.2em;
  border-radius: 10px;
  text-decoration: none;
  
  transition: 0.2s;
}

#section-info .button a:hover {
  color: black;
  background-color: white;
}

/* ----------------------------------------- */
#section-services {
  font-size: 1.1em;
  padding: 60px;
}

#section-services h1 {
  font-size: 3em;
  color: white;
  margin-bottom: 20px;
}

#section-services h3 {
  color: #2097ff;
  padding: 20px 0;
}

#section-services article {
  text-align: initial;

  float: center;
  width: 40%;
  margin: auto;
}

#section-services li {
  margin-bottom: 20px;
  margin-left: 50px;
  color: white;
}

/* ----------------------------------------- */
#section-contatos {
  padding: 80px;
}

#section-contatos h1, h3 {
  color: white;
  margin-bottom: 20px;
}

#section-contatos h1 {
  font-size: 3em;
}

#section-contatos h3 {
  font-size: 1.5em;
  font-weight: 100;
  width: 40%;
  margin: auto;
  border: 1px solid #105088;
  background-color: #08253f;
  border-radius: 10px;
  padding: 20px;
}

#section-contatos a {
  display: block;
  font-size: 2em;
  text-decoration: none;
  color: #00a2ff;
  margin-bottom: 10px;
}

#section-contatos small {
  display: block;
  margin-bottom: 40px;
}

/* ----------------------------------------- */
#section-info,
footer {
  padding: 80px;
}

/* ----------------------------------------- */
footer {
  color: gray;
  background-color: #02111f;
}
